<h2 class="container my-4 display-5">Edit Album</h2>

<div class="container-sm p-3 mb-2 border border-secondary border-opacity-25 rounded" style="max-width: 750px;">
    <form action="/albums/<%= album.id %>?_method=PUT" method="POST" class="row g-3">
        <div class="col-md-12"> 
            <label class="form-label text-secondary">Title</label>
            <input type="text" name="title" value="<%= album.title %>" class="form-control bg-dark border-secondary border-opacity-25 text-light">
        </div>
        
        <div class="col-md-6"> 
            <label class="form-label text-secondary">Artist</label>
            <select name="artist" class="form-select bg-dark border-secondary border-opacity-25 text-light">
                <% artists.forEach(artist => { %> 
                    <% if (artist.id == album.artist) { %> 
                        <option selected label="<%= artist.name %>" value="<%= artist.id %>"><%= artist.name %></option>
                    <% } else { %> 
                        <option label="<%= artist.name %>" value="<%= artist.id %>"><%= artist.name %></option>
                    <% } %> 
                <% }) %> 
            </select>
        </div>
    
        <div class="col-md-6">
            <label class="form-label text-secondary">Genre</label>
            <select name="genre" class="form-select bg-dark border-secondary border-opacity-25 text-light">
                <% genres.forEach(genre => { %> 
                    <% if (genre.id == album.genre) { %> 
                        <option selected label="<%= genre.name %>" value="<%= genre.id %>"><%= genre.name %></option>
                    <% } else { %> 
                        <option label="<%= genre.name %>" value="<%= genre.id %>"><%= genre.name %></option>
                    <% } %> 
                <% }) %> 
            </select>
        </div>
    
        <div class="col-md-12">
            <label class="form-label text-secondary">Description</label>
            <textarea name="description" class="form-control bg-dark border-secondary border-opacity-25 text-light"><%= album.description %></textarea>
        </div>
        
        <div class="col-md-6">
            <label class="form-label text-secondary">Price</label>
            <input type="number" name="price" min="1" value="<%= album.price %>" class="form-control bg-dark border-secondary border-opacity-25 text-light">
        </div>
    
        <div class="col-md-6">
            <label class="form-label text-secondary">Number in Stock</label>
            <input type="number" name="numberInStock" min="1" value="<%= album.numberInStock %>" class="form-control bg-dark border-secondary border-opacity-25 text-light">
        </div>
    
        <div class="col-md-12">
            <label class="form-label text-secondary">Cover Image</label>
            <input type="file" name="cover" class="filepond form-control bg-dark border-secondary border-opacity-25 text-light" >
        </div>
    
        <div class="d-grid col-6 mx-auto">
            <a href="/albums" class="btn btn-secondary">Cancel</a>
        </div>
    
        <div class="d-grid col-6 mx-auto">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
</div>
