<h2>New Album</h2>

<form action="/albums" method="POST">
    <label>Title</label>
    <input type="text" name="title">

    <label>Artist</label>
    <select name="artist">
        <% artists.forEach(artist => { %> 
            <% if (artist.id == album.artist) { %> 
                <option selected label="<%= artist.name %>" value="<%= artist.id %>">
            <% } else { %> 
                <option label="<%= artist.name %>" value="<%= artist.id %>">
            <% } %> 
        <% }) %> 
    </select>

    <label>Genre</label>
    <select name="genre">
        <% genres.forEach(genre => { %> 
            <% if (genre.id == album.genre) { %> 
                <option selected label="<%= genre.name %>" value="<%= genre.id %>">
            <% } else { %> 
                <option label="<%= genre.name %>" value="<%= genre.id %>">
            <% } %> 
        <% }) %> 
    </select>

    <label>Description</label>
    <textarea name="description"></textarea>

    <label>Price</label>
    <input type="number" name="price" min="1">

    <label>Number in Stock</label>
    <input type="number" name="numberInStock" min="1">

    <label>Cover Image</label>
    <input>

    <a href="/albums">Cancel</a>
    <button type="submit">Create</button>
</form>